.navbar {
    background-image: linear-gradient(to right,rgb(207, 103, 103) , rgb(196, 109, 52));   
  }
 
  .navbar ul li {
    list-style: none;
    display: inline;
    justify-content: space-around;
    padding-left: 30px;
  }
  .navbar ul li a {
    text-decoration: none;
    color: rgb(211, 190, 167);
    font-size: 25px;
  }
  .navbar ul li a:hover{
    text-decoration: none;
  
    font-size: 200%;
  } hover


  .logos {
  
  width: 100px;
  border-radius: 50%;
  margin-left: 10px;
  }
    

h1{
    color:wheat;
}
h2{
    color: burlywood;
}